<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New User</title>
</head>
<body>
    <h1>Create a New User</h1>
        <a href="/all_users" class="button">Home</a>
        <form action="/process_user" method="post">
            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">
            </div>
            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">
            </div>
            <div>
                <label for="email">Email Name:</label>
                <input type="text" name="email">
            </div>
            <div>
                <button>Create</button>
            </div>
        </form>
</body>
</html>